<div class="wrapper">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- Main Sidebar Container -->
    <app-left-sidebar></app-left-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- <app-content-header></app-content-header> -->
        <!-- Main content -->
        <div class="content">
            <!-- lugar de renderizado de los componentes -->
            <router-outlet></router-outlet>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <app-right-sidebar></app-right-sidebar>
    <!-- Main Footer -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->